@media screen and (max-width:1024px) {
    main {
        margin: .5rem auto 8em auto;
    }

    .main_input {
        width: 480px;
    }

    .main_bottom a,
    p {
        margin: 0 4px;
    }

    .footer_bottom {
        padding: .9em 1.5em;
        flex-direction: column;
        text-align: center;
    }

    .middle {
        flex-direction: row-reverse;
        width: 100%;
        padding: 10px;
    }

    .carbon {
        margin-left: 0;
        padding: 5px;
    }


}


@media screen and (max-width:768px) {
    main {
        margin: .5rem auto 8em auto;
    }

    .main_input {
        width: 480px;
    }

    .main_bottom a,
    p {
        margin: 0 4px;
    }

    .footer_bottom {
        padding: .9em 1.5em;
        flex-direction: column;
        text-align: center;
    }

    .middle {
        flex-direction: row-reverse;
        width: 100%;
        padding: 10px;
    }

    .carbon {
        margin-left: 0;
        padding: 5px;
    }


}